.homeapp{
    background:#f6f6f6;
    .headerapp{
        margin:0;
        list-style:none;
        background-color: #f5337d;
        color: #fff;
        padding: 0.427rem;
        font-size: 0.768rem;
        height:3.613333rem;
        text-align: center;
        li{
            float: left;
           
        }
        .header-left{
            line-height: 2.613333rem;
            font-size: 1.29rem;
            width: 20%;
            a{
                text-decoration:none; 
                color:#fff;
                .header-icon{
                    position: relative;
                    top:.133333rem;
                    margin-right: .16rem;
                }
            }
        }
        .header-middle{
            width: 65%;
            margin-top:.366667rem;
        }
        .header-right{
            line-height: 2.613333rem;
            font-size: 1.29rem;
            width: 15%;
        }
    }
    .ant-carousel{
        height:11.8rem;
    }
    .navtab{
        list-style:none;
        padding:0;
        margin:0;
        padding-top: 0.64rem;
        background: #fff;
        display: flex;
        .navitem{
            width: 25%;
            float: left;
            text-align: center;
            margin-bottom: 0.64rem;
            .navimg{
                .navicon{
                    width:2.846rem;
                    height: 3.046rem;
                    background-size: 100% 100%;
                    display: inline-block;
                    img{
                        width: 100%;
                    }
                }
            }
            p{
                color: #666666;
                font-size: 0.469rem;
                margin-top: 0.256rem;
            }
        }
    }
    .ant-carousel{
        overflow: hidden;
        box-sizing: content-box;
        display: -ms-flexbox;
        position: relative;
        transition-property: transform;
        width: 100%;
        z-index: 1;
        img{
            width:100%;
            height:11.8rem;
        }
    }
    .navqianggou{
       
        img{
            display:flex;
            width:100%;
        }
    }
    .redrecommend{
        height: 2.8rem;
        background: #fff;
        padding: 0.8rem;
        .recommend{
            float:left;
            color:#333;
        }
        .moreto{
            float:right;
            font-size: 0.512rem;
            color: #999;
            text-decoration: none;
        }
    }
    .starModule{
        margin-top: 0.666rem;
        background: #fff;
        overflow: hidden;
        .starrecommend{
            height: 2.8rem;
            background: #fff;
            padding: 0.8rem;
            .recommend{
                float:left;
                color:#333;
            }
            .moreto{
                float:right;
                font-size: 0.512rem;
                color: #999;
                text-decoration: none;
            }
        }
        .starcarousel{
            padding: 0rem 0.896rem;
            text-align: center;
            .starlist{
                background: #fff;
                overflow: hidden;
                box-sizing: content-box;
                display: flex;
                position: relative;
                transition-property: transform;
                width: 100%;
                z-index: 1;
                .staritem{
                    padding-left:0;
                    list-style:none;
                    box-sizing: content-box;
                    display: flex;
                    height: 100%;
                    position: relative;
                    width: 100%;
                    z-index: 1;
                    .swiper-slide {
                        width: 130px !important;
                        margin-right: 8px !important;
                        img{
                            width:100%;
                            height: 8.88rem;
                            float: left;
                        }
                        p{
                            margin-bottom:0;
                            font-size: .555rem;
                            width:100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            
                        }
                    }
                }
            }
        }
    }
    .seasons{
        margin-top: 0.426rem;
        background: #fff;
        overflow: hidden;
        .starrecommend{
            height: 2.8rem;
            background: #fff;
            padding: 0.8rem;
            .recommend{
                float:left;
                color:#333;
            }
            .moreto{
                float:right;
                font-size: 0.512rem;
                color: #999;
                text-decoration: none;
            }
        }
        .clearfix{
            padding: 0rem 0.426rem;
            list-style: none;
            margin: 0;
            .listitem{
                width: 10.25rem;
                float: left;
                margin: 0rem 0.5rem;
                font-size: 0.426rem;
                color: #666;
                text-align: left;
                margin-bottom: 0.512rem;
                .listImg{
                    img{
                        height: 10.25rem;
                        width:100%;
                        float: left;
                    }
                }
                .goodlist{
                    border: 1px solid #ddd;
                    padding: 0.426rem;
                    p{
                        margin-bottom:0;
                    }
                    .itemName{
                        height: 1.237rem;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .itemPirce{
                        .pirce{
                            color: #f5337d;
                            font-size: 0.555rem;
                        }
                    }
                }
                
            }
        }
    }
    .Homediscount{
        margin-top: 0.426rem;
        background: #fff;
        overflow: hidden;
        .starrecommend{
            height: 2.8rem;
            background: #fff;
            padding: 0.8rem;
            .recommend{
                float:left;
                color:#333;
            }
            .moreto{
                float:right;
                font-size: 0.512rem;
                color: #999;
                text-decoration: none;
            }
        }
        .discount-list{
            list-style: none;
            padding-left:0;
            font-size: 0.512rem;
            color: #333;
            li{
                margin-bottom: 0.5rem;
                .discountImg{
                    img{
                        height: 10.25rem;
                        width:100%;
                    }
                    
                }
                .discount-shop{
                    height:1.066667rem;
                    padding: 0rem 0.3rem;
                    .discount-left{
                        width: 70%;
                        float:left;
                    }
                    .discount-right{
                        font-size: 0.512rem;
                        color: #999;
                        float:right;
                    }
                }
            }
        }
    }
    .Homebottom{
        margin-bottom:88px;
        margin-top: 0.426rem;
        background: #fff;
        overflow: hidden;
        .starrecommend{
            height: 2.8rem;
            background: #fff;
            padding: 0.8rem;
            .recommend{
                float:left;
                color:#333;
            }
            .moreto{
                float:right;
                font-size: 0.512rem;
                color: #999;
                text-decoration: none;
            }
        }
        // .aa{
        //     box-sizing: content-box;
        //     display: flex;
        //     height: 100%;
        //     position: relative;
        //     transition-property: transform;
        //     width: 100%;
        //     z-index: 1;
        // }
    }
}
.aa{
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 0.512rem;
    height: 1.195rem;
    line-height: 1.195rem;
    position: absolute;
    bottom: 0.4rem;
    padding-left:10.25rem;
}